# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
res/
# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Environment
.env
.env.local

# Editors / OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo
